html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: white;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.transparent-content {
    display: flex;
    height: 100%;
    background-color: none;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 400px;
    width: 400px;
    overflow: hidden;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.company-name {
    color: forestgreen;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px
}

.login-group {
    display: flex;
    flex-direction: column;
}

.group-label {
    margin: 5px 3px 5px 3px;
    color: rgba(0, 0, 0, 0.8);
}

.group-input {
    padding: 10px;
    margin: 5px 5px 10px 5px;
    border: 1px solid forestgreen;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button {
    border-width: 0px;
    padding: 15px 20px 15px 20px;
    color: white;
    background-color: forestgreen;
    margin: 10px 5px 10px 5px;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button-register {
    background-color: #1F7001;
}

.forgot-password {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.7em;
    margin-right: 5px;
    align-self: flex-end;
}

.forgot-password:hover {
    text-decoration: underline;
    color: forestgreen;
}

.error {
    color: red;
    font-size: 0.7em;
    text-decoration: none;
    margin-left: 5px;
    margin-top: -4px;
    margin-bottom: 4px;
}

.group-input-error {
    border: 1px solid red;
}