.content {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    justify-content: center;
    background-image: url("../Content/img/table-background-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-box {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 500px;
    min-width: 500px;
    min-height: 100px;
    align-self: center;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-title {
    color: white;
    font-weight: 100;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 10px;
}

.search-input {
    margin: 20px;
    width: 100%;
    min-width: 100%;
}
